.btn[aria-label="register"] {
   margin-top: 0;
}

.btn[aria-label="register"] {
   background-color: transparent;
   border: 2px solid $dark;
   color: $dark;
}

a[aria-label="login"] {
   font-weight: 500;
   transition: color 0.25s ease-in-out;

   &:hover {
      color: $gray;
   }
}

.header {
   min-height: 70px;
   position: sticky;
   top: 0;
   width: auto;
   background-color: $white;
   z-index: 9999;
   
   .container {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: inherit;
      gap: 3em;
   }

   .primary-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .nav-list {
         display: flex;
         gap: 3em;
      }

      .nav-list a {
         transition: color 0.25s ease-in-out;

         &:hover,
         &:focus-visible {
            color: $gray;
         }
      }

      .primary-nav-link > a {
         display: flex;
         flex-direction: row;
         align-items: center;

         img {
            margin-left: 0.5em;
         }
      }

      .sub-menu {
         position: absolute;
         left: 0;
         top: 100%;
         width: 100%;
         padding: 1em;
         border-radius: 0.8em;
         background-color: $white;
         box-shadow: 0 0 1.5em -0.5em rgb(0 0 0 / 0.4);

         transform: translateY(-1em);
         opacity: 0;
         pointer-events: none;
         transition: all 0.25s ease-in-out;
      }

      .primary-nav-link.active > .sub-menu {
         transform: translateY(0);
         opacity: 1;
         pointer-events: all;
      }

      .primary-nav-link.active > a {
         color: $gray;
      }

      .sub-menu-list {
         a {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding: 0.5em;
            border-radius: 0.3em;
            transition: background-color 0.25s ease-in-out;

            img {
               margin-right: 0.5em;
            }

            &:hover {
               background-color: rgb(0 0 0 / 0.1);
            }
         }
      }
   }

   .buttons {
      display: flex;
      gap: 1em;
      margin-left: auto;
      align-items: center;
   }

   .mobile-menu {
      display: none;
      margin-left: auto;

      .toggle-btn {
         background-color: transparent;
         border: none;
         cursor: pointer;
         padding: 0.5em 0 0.5em 0.5em;
      }
   }
}

.showcase {
   .container {
      display: grid;
      grid-auto-flow: column;
      gap: 8em;
      grid-auto-columns: 1fr;
      align-items: center;
   }

   .even-col:first-child {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      min-height: 100%;
      padding-top: 8rem;

      h1 {
         font-size: clamp(2.5rem, 4.2vw, 5rem);
         font-weight: 700;
      }
   }

   .even-col:nth-child(2) {
      padding-top: 4em;
      img {
         max-width: 90%;
      }
   }

   .icons {
      margin-top: auto;
      display: grid;
      grid-auto-flow: column;
      gap: 2.5em;
   }
}

@media (max-width: 50em) {
   a[aria-label="login"] {
      text-align: center;
   }

   .header {
      .primary-nav {
         position: fixed;
         max-width: 15em;
         min-height: 100vh;
         z-index: 1000;
         inset: 0 0 auto auto;
         overflow-y: scroll;
         overflow-x: hidden;

         flex-direction: column;
         align-items: stretch;
         justify-content: stretch;
         background-color: $white;

         padding: 1em;
         transform: translateX(100%);
         transition: transform 0.3s ease-in-out;

         &.active {
            transform: translateX(0);
            box-shadow: 0 0 1.5em -0.5em rgb(0 0 0 / 0.4);
         }
      }

      .nav-list {
         flex-direction: column;
         gap: 0.5em !important;
         margin-top: 4em;

         a {
            padding: 0.5em;
         }

         .sub-menu {
            position: relative;
            top: 0;
            box-shadow: none;
            transform: translateY(0);
            padding: 0;
            margin-left: 1.5em;
            max-height: 0;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
         }
      }

      .primary-nav-link.active .sub-menu {
         max-height: 300px;
         clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }

      .buttons {
         margin-left: 0;
         margin-top: 2em;
         flex-direction: column;

         .btn[aria-label="register"] {
            width: 100%;
         }
      }

      .mobile-menu {
         display: grid;
         place-content: center;
         z-index: 9999;
      }
   }

   .showcase {
      .container {
         grid-auto-flow: row;
         gap: 3em;
      }

      .even-col:first-child {
         order: 2;
         padding-top: 0;
      }

      .icons {
         margin-top: 4em;
      }
   }
}
