@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Rubik:wght@300;400;500;600&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::first-letter {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  text-rendering: optimizeSpeed;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  overflow-x: hidden;
  color: hsl(0deg, 0%, 8%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1;
}

a {
  text-decoration: none;
  color: hsl(0deg, 0%, 8%);
}

p {
  margin-top: 1em;
}

ol,
ul {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

section,
main,
footer {
  padding-block: 4em;
}

.btn {
  display: inline-block;
  margin-top: 2em;
  padding: 0.5em 1.5em;
  text-transform: capitalize;
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  border-radius: 0.8em;
  border: 2px solid transparent;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.btn:hover, .btn:focus-visible {
  background-color: transparent;
  border: 2px solid hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 8%);
}
.btn:active {
  background-color: hsl(0deg, 0%, 41%);
}

.title {
  font-size: clamp(2rem, 3vw, 3.375rem);
}

.sub-title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.main-title {
  margin-bottom: 2em;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin-inline: auto;
}

.btn[aria-label=register],
.btn[aria-label=login] {
  margin-top: 0;
}

.btn[aria-label=login] {
  background-color: transparent;
  color: hsl(0deg, 0%, 8%);
}

.btn[aria-label=register] {
  background-color: transparent;
  border: 2px solid hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 8%);
}

.header {
  min-height: 70px;
}
.header .container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: inherit;
  gap: 3em;
}
.header .primary-nav .nav-list {
  display: flex;
  gap: 3em;
}
.header .primary-nav .nav-list a {
  transition: color 0.25s ease-in-out;
}
.header .primary-nav .nav-list a:hover, .header .primary-nav .nav-list a:focus-visible {
  color: hsl(0deg, 0%, 41%);
}
.header .primary-nav .primary-nav-link > a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .primary-nav .primary-nav-link > a img {
  margin-left: 0.5em;
}
.header .primary-nav .sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 1em;
  border-radius: 0.8em;
  background-color: hsl(0deg, 0%, 98%);
  box-shadow: 0 0 1.5em -0.5em rgba(0, 0, 0, 0.4);
  transform: translateY(-1em);
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}
.header .primary-nav .primary-nav-link.active > .sub-menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}
.header .primary-nav .primary-nav-link.active > a {
  color: hsl(0deg, 0%, 41%);
}
.header .primary-nav .sub-menu-list a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.3em;
  transition: background-color 0.25s ease-in-out;
}
.header .primary-nav .sub-menu-list a img {
  margin-right: 0.5em;
}
.header .primary-nav .sub-menu-list a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.header .buttons {
  display: flex;
  gap: 1em;
  margin-left: auto;
}

.showcase .container {
  display: grid;
  grid-auto-flow: column;
  gap: 8em;
  grid-auto-columns: 1fr;
  align-items: center;
}
.showcase .even-col:first-child {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  min-height: 100%;
  padding-top: 8rem;
}
.showcase .even-col:first-child h1 {
  font-size: clamp(3rem, 4.2vw, 5rem);
  font-weight: 700;
}
.showcase .even-col:nth-child(2) {
  padding-top: 4em;
}
.showcase .even-col:nth-child(2) img {
  max-width: 90%;
}
.showcase .icons {
  margin-top: auto;
  display: grid;
  grid-auto-flow: column;
  gap: 2.5em;
}

@media (max-width: 50em) {
  .showcase .container {
    grid-auto-flow: row;
  }
  .showcase .even-col:first-child {
    order: 2;
    padding-top: 0;
  }
}/*# sourceMappingURL=style.css.map */