@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Rubik:wght@300;400;500;600&display=swap");
@import "color";

/* Box sizing rules */
*,
*::before,
*::after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

*::first-letter {
   text-transform: uppercase;
}

html {
   scroll-behavior: smooth;
   scroll-padding-top: 70px;
}

body {
   text-rendering: optimizeSpeed;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   line-height: 1.7;
   overflow-x: hidden;
   color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   line-height: 1;
}

a {
   text-decoration: none;
   color: $dark;
}

p {
   margin-top: 1em;
}

ol,
ul {
   list-style: none;
}

img,
picture {
   max-width: 100%;
   display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
   font: inherit;
}

section,
main,
footer {
   padding-block: 4em;
}

.btn {
   display: inline-block;
   margin-top: 2em;
   padding: 0.5em 1.5em;
   text-transform: capitalize;
   background-color: $dark;
   color: $white;
   border-radius: 0.8em;
   border: 2px solid transparent;
   font-weight: 500;
   cursor: pointer;
   transition: all 0.25s ease-in-out;

   &:hover,
   &:focus-visible {
      background-color: transparent;
      border: 2px solid $dark;
      color: $dark;
      // box-shadow: 5px 5px 0.5em -0.1em rgb(0 0 0 /0.3);
   }

   &:active {
      background-color: $gray;
   }
}

.title {
   font-size: clamp(2rem, 3vw, 3.375rem);
}

.sub-title {
   font-family: "Rubik", sans-serif;
   font-weight: 400;
   letter-spacing: 2px;
}

.main-title {
   margin-bottom: 2em;
   text-align: center;
}

.container {
   width: 90%;
   max-width: 1110px;
   margin-inline: auto;
}

// main css
@import "main";
